<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form method ="POST">
        <button type="submit" name="cmd" value="w">avanti</button><br>
        <button type="submit" name="cmd" value="a">sinistra</button>
        <button type="submit" name="cmd" value="d">destra</button><br>
        <button type="submit" name="cmd" value="s">indietro</button><br>
        <button type="submit" name="cmd" value="stop">indietro</button>
    </form>
</body>
</html>